.annexureContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

li {
    color: var(--primary-color);
    width: 250px;
    margin-left: 1rem;
    list-style-position: inside;
}

.annexureContainer li a img {
    width: 1rem;
    filter: invert(15%) sepia(29%) saturate(5989%) hue-rotate(348deg) brightness(95%) contrast(89%);
}

.annexureContainer a {
    color: var(--primary-color);
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.annexureContainer h3 {
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}